version: "3.9"
 
services:
  postgres:
    image: postgres:16
    container_name: gestordeopiniones_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: GestorDeOpinionesDB
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
 
volumes:
  postgres_data: